<div class="container">
  <h1 class="display-4">Lists</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list), class: "text-decoration-none" %></li>
    <% end %>
  </ul>

  <br>
  <%= link_to "Add New List", new_list_path(@list), class: "text-decoration-none" %>

  <%# <%= link_to "Add Restaurant", new_restaurant_path, class: "text-decoration-none" %>
</div>

<!-- app/views/articles/index.html.erb -->
  <%# <%= cl_image_tag("pndqloq3sf9ltenb8lpu", %>
      <%# width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
  <%# <%= cl_image_tag("kgxghfcwxgfz7h8fsnyd", %>
      <%# width: 150, height: 150, crop: :thumb, gravity: :face) %>
