<div class="container">
  <h1 class="display-4">List Details</h1>
  <h2 class="display-6"><%= @list.name %></h2>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title%></li>
    <li><%= link_to "Delete Movie from List", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none" %></li>
    <% end %>
  </ul>
  <br>
  <%= link_to "Add Movie to List", new_list_bookmark_path(@list), class: "text-decoration-none" %>
  <br>
  <%= link_to "All Lists", lists_path, class: "text-decoration-none" %>

</div>
